---
title: Daily Briefing
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---


<div class="container">
  <h1>This is a page for you </h1>
  <div class="vibe">
    you are great
  </div>
  <div class="love">
    <3
  </div>

  {% for article in news.articles %}
    <ul>
        <li>
          <h2><a href="{{ article.url }}">{{ article.title }}</a></li></h2>
          <span> {{ article.source.name }} - <time> {{ article.publishedAt }} </time></span>
    </ul>

  {% endfor %}

</div>

<script src="/js/vibe.js"></script>
